.footer-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3 ease;
}

.footer-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}

.footer {
    background-color: #ffcdf0;
    color: white;
    padding: 10px 0;
    border-top: 25px solid white;
}